<div>
  <div class="contact-list__container">
    <div *ngFor="let contact of contacts" class="contact-list__item" (click)="openContactDetails(contact.contactId)">
      <img [style.background-image]="'url(' + contact.imageUrl + ')'" class="contact-list__item-image">
      <span class="contact-list__item-name">{{contact.firstName}} {{contact.lastName}}</span>
    </div>
  </div>

  <div *ngIf="showContactDetailsOverlay" class="quickdial__contact-details-overlay-background">
    <app-quickdial-contact-details-overlay [contact]="contactDetailsOverlayData" (closeOverlay)="closeContactDetails()"></app-quickdial-contact-details-overlay>
  </div>
</div>
