@import '../../theme';
@import '../../functions';

.content__wrapper {
  display: flex;
  flex-direction: column;

  width: getMaxContentWidth();
  height: 100%;
}

.content-navigation__container {
  height: $header-height;
}

.content-navigation__tabs {
  display: flex;
  list-style: none;
}

.content-navigation__item > a {
  color: $theme_color_accent;
  text-decoration: none;
  padding: 0.25rem;
  margin: 0rem 1rem;
  font-size: 1.1rem;
  border-bottom: 1px solid transparentize($color: $theme_color_highlight, $amount: 1);

  &:hover {
    transition: all 0.5s ease-in-out;
    color: $theme_color_highlight;
    border-bottom: 1px solid opacify($color: $theme_color_highlight, $amount: 0.5);
  }
}

.content-navigation__item--active > a {
  border-bottom: 1px solid $theme_color_highlight;
  color: $theme_color_highlight;
}

.content__inner-content {
  /* margin-left: 5rem; */
}
