@import '../theme';
@import '../functions';

#main {
  display: flex;

  margin: 0rem $content-margin;

  max-width: getMaxContentWidth();
  max-height: $content-height;

  overflow: auto;
}
