@mixin google-font($font) {
  $font: unquote($font);

  @import url(https://fonts.googleapis.com/css?family=#{$font});
}

@mixin small-contact-image($size) {
  max-width: $size;
  width: $size;
  max-height: $size;
  height: $size;

  padding: 1rem;

  display: block;
  background-clip: content-box;
  background-size: contain;
  background-position: center;
  border-radius: 2rem;
}

@mixin contact-name() {
  font-weight: bold;
  font-size: 1.25rem;
}

@mixin quickdial-clickable-container() {
  display: flex;
  align-items: center;

  border-bottom: $transparent-highlight-border;
  cursor: pointer;

  &:hover {
    color: $theme_color_accent;
  }
}
