$theme_color_dark: #343838;
$theme_color_bg: #005f6b;
$theme_color_medium: #008c9e;
$theme_color_accent: #00b4cc;
$theme_color_highlight: #00dffc;

$headline_font: 'Montserrat';
$text_font: 'Raleway';

$transparent-highlight-border: 1px solid
  transparentize($color: $theme_color_highlight, $amount: 0.8);

$content-margin: 60px;
$content-height: 810px;
$content-width: 1440px;
$header-height: 60px;
