$theme_color_dark: #343838;
$theme_color_bg: #005f6b;
$theme_color_medium: #008c9e;
$theme_color_accent: #00b4cc;
$theme_color_highlight: #00dffc;

$headline_font: 'Montserrat';
$text_font: 'Raleway';
