@import '../../theme';
@import '../../mixins';

.recent-call__container {
  display: flex;
  align-items: center;

  border-bottom: $transparent-highlight-border;
}

// das ist ein Hack, um dem ersten Eintrag einen oberen Rand zu verpassen, ohne
// style in der übergeordneten Komponente eintragen zu müssen
.recent-call__container--0 {
  border-top: $transparent-highlight-border;
}

.recent-call__contact-image {
  @include small-contact-image(6rem);
}

.recent-call__contact-name {
  @include contact-name;
}

.recent-call__call-info {
  padding-top: 0.5rem;
}
